* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: #6298ef;
}

.navbar {
    background: #0A66C2;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #0A66C2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #004a99;
}
